/* common styles */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #ededed;
}

.unlisted {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

/* Header */

.header-top-container {
  background-color: #333;
  color: snow;
  display: flex;
  justify-content: space-between;
}

.main-header .fa {
  padding: 0.5em;
  font-size: 2rem;
}
.main-header .fa:hover {
  background-color: snow;
  color: #333;
}

/* header-content-container */

.header-content-container {
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.header-title {
  font-size: 3.5rem;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

/* HERO */

.hero {
  /* bg image */
  background: url('../img/jane.jpg') no-repeat top;
  background-size: cover;

  color: snow;
  padding: 1.2rem 2.4rem;

  /* per visa ekrano auksti */
  min-height: 100vh;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 6.4rem;
  margin-bottom: 0;
  font-weight: 500;
}
h1 span {
  display: block;
  font-size: 3.6rem;
  font-weight: normal;
}

/* content */

.content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
main {
  max-width: 65rem;
}

aside {
  /* jei yra tuscios vietos - pleskis */
  flex-grow: 1;
}

/* article */
.main-article {
  background-color: white;
  padding: 2rem;
}
.article-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 0.3em;
  font-weight: normal;
}

.like-btn {
  background-color: transparent;
  font-size: 1.6rem;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
}
.like-btn:hover {
  background-color: #ccc;
}

.text {
  font-family: 'Open Sans', sans-serif;
}
